body {
}

.starter-template {
	padding: 5em 0 3em 0;
	/*text-align: center; */
}
.remove_padding{
	padding-left: 0px;
	padding-right: 0px;
	padding: 0px;
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}

.form-horizontal .form-group {
	margin-right: -15px; 
	margin-left: -15px; 
}
.text-left{
	color: #2E2E2E;
}

@media (max-width: 767px){
	.container > .navbar-header, .container > .navbar-collapse {
		margin-left: 0;
		padding-bottom: 1em;
	}
}







/* ---------------------- BEGING header.php -----------------------*/
.mainmenu__item{
	text-align: center;
	/*font-size: 6em;*/
	min-width: 7em;
}
.mainmenu__item a{
	color: #595959;
}

/*indica qual a opçao do menu que esta ativa e quando o rato passa sobre a mesma */
.mainmenu__item.active > a {
	font-weight: bolder;
	padding: 0 1em 0 1em;
}
.mainmenu__item a:hover {
	/*font-weight: normal; */
}

.dropdown:hover .dropdown-content{
	opacity: 1;
}

.dropdown-content a{
	width: 100%;
	padding: 10px 10px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
}

.dropdown-content a:hover {
	background-color: #595959;
	color: white;
	font-weight: bolder;
}
/* manter a opçao "dropdown" ativa quando se está a navegar no seu sub-menu*/
li a:hover, .dropdown:hover .dropbtn {
	font-weight: bolder;
	color: white;
}

.active.mainmenu__item.dropdown > a:hover{
	font-weight: normal;
}









/* ---------------------- BEGING footer.php -----------------------*/
.footer{
	margin-top: 0;
}











/* ---------------------- BEGIN home.php -----------------------*/
.panel_home{
	min-height: 20em;
}

.contact-info i{
	margin-top: 0.5em;
}
#feature h1{
	color: black;
}

#services {
	background-color: white;
}

#conatcat-info {
	background-color: #F2F2F2;
	padding: 1em 0 2em 0;
}
.panel{
	margin-bottom: 20px;
}





/* ---------------------- BEGIN about.php -----------------------*/
.panel_about{
	min-height: 33em;
}

.img_bckg{
	background-image: url("../images/pessoas2.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}





/* ---------------------- BEGIN frota/pesquisar.php -----------------------*/
.search{
	min-width: 100%;
}







/* ---------------------- BEGIN contact.php -----------------------
.contact_btn{
  min-width: 100%;
}
*/












